@charset "UTF-8";

body, div, p, h1, h2, h3, h4, h5, h6, img {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	background-color: #aaa;
	width: 100%;
}

h4 {
	font-size: 1.0em;
}


.inner-space {
	background-color: white;
	/* border-radius: 12px; */
	height: 95%;
	margin: 2.5% 2.5%;
	position: relative;
	width: 95%;
}

.inner-space img {
    background - size: cover;
    background - position: 50 % 50 % ;
    width: 95%;
    height: auto;
    margin: 2% 2.5%;
}
#image-container {
	/* margin-top: -100%; */
}

#play-gif-button {
	position: absolute;
	/* margin-left: 50%; */
	/* margin-top: 50%; */
	left: 50%;
	top: 50%;
	margin-left: -24px;
	margin-top: -43px;
	cursor: pointer;
	display: none;
}

/* from http://davidwalsh.name/css-triangles */
/* create an arrow that points right */
div.arrow-right {
	width: 0; 
	height: 0; 
	border-radius: 0px;
	border-bottom: 40px solid transparent;  /* left arrow slant */
	border-top: 40px solid transparent; /* right arrow slant */
	border-left: 70px solid #AAAAAA; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
}

#size-notice {
	position: absolute;
	left: 50%;
	top: 49%;
	margin-left: -0.8em;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color: white;
	line-height: 0.4em;
}
