@charset "UTF-8";

body, div, p, h1, h2, h3, h4, h5, h6, img {
	margin: 0;
	padding: 0;
}

body {
	background-color: #aaa;
	width: 100%;
}

.inner-space {
	background-color: white;
	border-radius: 12px;
	height: 95%;
	margin: 2.5% 2.5%;
	position: relative;
	width: 95%;
}

.inner-space img {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background - size: cover;
    background - position: 50 % 50 % ;
}